# Cleaning Data

In [1]:
import pandas as pd
from pandas.tseries.offsets import MonthEnd

In [2]:
df = pd.read_csv('../Data/raw.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415 entries, 0 to 414
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PROD_EST              415 non-null    object
 1   COBERTURA             415 non-null    object
 2   ANIO                  415 non-null    int64
 3   ID_MES                415 non-null    int64
 4   AUTO_PUBLICO          415 non-null    int64
 5   AUTO_PARTICULAR       415 non-null    int64
 6   CAM_PAS_PUBLICO       415 non-null    int64
 7   CAM_PAS_PARTICULAR    415 non-null    int64
 8   CYC_CARGA_PUBLICO     415 non-null    int64
 9   CYC_CARGA_PARTICULAR  415 non-null    int64
 10  ESTATUS               415 non-null    object
dtypes: int64(8), object(3)
memory usage: 35.8+ KB

In [3]:
df.nunique()

PROD_EST                  1
COBERTURA                 1
ANIO                     35
ID_MES                   12
AUTO_PUBLICO            415
AUTO_PARTICULAR         415
CAM_PAS_PUBLICO         415
CAM_PAS_PARTICULAR      415
CYC_CARGA_PUBLICO       415
CYC_CARGA_PARTICULAR    415
ESTATUS                   2
dtype: int64

In [4]:
df['FECHA'] = pd.to_datetime(df['ANIO'].astype(str) + '-' + df['ID_MES'].astype(str) + '-01') + MonthEnd(0)
df = df.drop(columns=['ANIO', 'ID_MES', 'PROD_EST', 'COBERTURA', 'ESTATUS'], axis=1)
df = df.sort_values('FECHA')
df = df.set_index('FECHA')
df = df.asfreq('ME')
df['TOTAL'] = df.sum(axis=1)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 415 entries, 1991-01-31 to 2025-07-31
Freq: ME
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AUTO_PUBLICO          415 non-null    int64
 1   AUTO_PARTICULAR       415 non-null    int64
 2   CAM_PAS_PUBLICO       415 non-null    int64
 3   CAM_PAS_PARTICULAR    415 non-null    int64
 4   CYC_CARGA_PUBLICO     415 non-null    int64
 5   CYC_CARGA_PARTICULAR  415 non-null    int64
 6   TOTAL                 415 non-null    int64
dtypes: int64(7)
memory usage: 25.9 KB

In [6]:
df.nunique()

AUTO_PUBLICO            415
AUTO_PARTICULAR         415
CAM_PAS_PUBLICO         415
CAM_PAS_PARTICULAR      415
CYC_CARGA_PUBLICO       415
CYC_CARGA_PARTICULAR    415
TOTAL                   415
dtype: int64

In [7]:
names = {
    "AUTO_PUBLICO": "auto_public",
    "AUTO_PARTICULAR": "auto_private",
    "CAM_PAS_PUBLICO": "passenger_truck_public",
    "CAM_PAS_PARTICULAR": "passenger_truck_private",
    "CYC_CARGA_PUBLICO": "cargo_public",
    "CYC_CARGA_PARTICULAR": "cargo_private",
    'TOTAL': 'total'
}

In [8]:
df = df.rename(columns=names)

In [9]:
df.to_parquet('../Data/vizu.parquet')