# Preprocessing

In [1]:
import pandas as pd
from copy import deepcopy as dc
import numpy as np
from sklearn.preprocessing import StandardScaler
import joblib
import os

In [2]:
df = pd.read_parquet('../Data/vizu.parquet')
data = {
    column.replace('_', ' ').title():df[column].rename(column.replace('_', ' ').title()) 
    for column in df.columns
}
data.keys()

dict_keys(['Auto Public', 'Auto Private', 'Passenger Truck Public', 'Passenger Truck Private', 'Cargo Public', 'Cargo Private', 'Total'])

In [3]:
scaler_dir = '../Outputs/Models/Scalers'
os.makedirs(scaler_dir, exist_ok=True)

scalers = {
    key:StandardScaler().fit(data[key].values.reshape(-1,1)) 
    for key in data.keys()
}
for key in scalers.keys():
    joblib.dump(scalers[key], os.path.join(scaler_dir, f'scaler_{key.replace(" ", "_").lower()}.save'))

data_scaled = {
    key:pd.DataFrame(
        scalers[key].transform(data[key].values.reshape(-1,1)).flatten().reshape(-1, 1), 
        index=data[key].index, 
        columns=[key]
    ) 
    for key in data.keys()
}

for key in data_scaled.keys():
    df = dc(data_scaled[key])
    for i in range(1, 13):
        df[f'X(t-{i})'] = df[key].shift(i)
    df.rename(columns={key:'X'}, inplace=True)
    data_scaled[key] = df.dropna()

In [4]:
for key in data_scaled.keys():
    print(data_scaled[key].head(5))

                   X    X(t-1)    X(t-2)    X(t-3)    X(t-4)    X(t-5)  \
FECHA
1992-01-31 -1.358812 -1.328176 -1.336889 -1.345374 -1.353834 -1.362273
1992-02-29 -1.349682 -1.358812 -1.328176 -1.336889 -1.345374 -1.353834
1992-03-31 -1.340507 -1.349682 -1.358812 -1.328176 -1.336889 -1.345374
1992-04-30 -1.331273 -1.340507 -1.349682 -1.358812 -1.328176 -1.336889
1992-05-31 -1.322000 -1.331273 -1.340507 -1.349682 -1.358812 -1.328176

              X(t-6)    X(t-7)    X(t-8)    X(t-9)   X(t-10)   X(t-11)  \
FECHA
1992-01-31 -1.370700 -1.379101 -1.387482 -1.395844 -1.404180 -1.412496
1992-02-29 -1.362273 -1.370700 -1.379101 -1.387482 -1.395844 -1.404180
1992-03-31 -1.353834 -1.362273 -1.370700 -1.379101 -1.387482 -1.395844
1992-04-30 -1.345374 -1.353834 -1.362273 -1.370700 -1.379101 -1.387482
1992-05-31 -1.336889 -1.345374 -1.353834 -1.362273 -1.370700 -1.379101

             X(t-12)
FECHA
1992-01-31 -1.420792
1992-02-29 -1.412496
1992-03-31 -1.404180
1992-04-30 -1.395844
1992-05-31 -1.387482
                   X    X(t-1)    X(t-2)    X(t-3)    X(t-4)    X(t-5)  \
FECHA
1992-01-31 -1.200429 -1.204360 -1.207493 -1.210545 -1.213588 -1.216623
1992-02-29 -1.197068 -1.200429 -1.204360 -1.207493 -1.210545 -1.213588
1992-03-31 -1.193688 -1.197068 -1.200429 -1.204360 -1.207493 -1.210545
1992-04-30 -1.190290 -1.193688 -1.197068 -1.200429 -1.204360 -1.207493
1992-05-31 -1.186875 -1.190290 -1.193688 -1.197068 -1.200429 -1.204360

              X(t-6)    X(t-7)    X(t-8)    X(t-9)   X(t-10)   X(t-11)  \
FECHA
1992-01-31 -1.219652 -1.222675 -1.225689 -1.228696 -1.231694 -1.234685
1992-02-29 -1.216623 -1.219652 -1.222675 -1.225689 -1.228696 -1.231694
1992-03-31 -1.213588 -1.216623 -1.219652 -1.222675 -1.225689 -1.228696
1992-04-30 -1.210545 -1.213588 -1.216623 -1.219652 -1.222675 -1.225689
1992-05-31 -1.207493 -1.210545 -1.213588 -1.216623 -1.219652 -1.222675

             X(t-12)
FECHA
1992-01-31 -1.237668
1992-02-29 -1.234685
1992-03-31 -1.231694
1992-04-30 -1.228696
1992-05-31 -1.225689
                   X    X(t-1)    X(t-2)    X(t-3)    X(t-4)    X(t-5)  \
FECHA
1992-01-31 -1.023854 -1.001937 -1.005711 -1.009486 -1.013245 -1.016990
1992-02-29 -1.025635 -1.023854 -1.001937 -1.005711 -1.009486 -1.013245
1992-03-31 -1.027416 -1.025635 -1.023854 -1.001937 -1.005711 -1.009486
1992-04-30 -1.029212 -1.027416 -1.025635 -1.023854 -1.001937 -1.005711
1992-05-31 -1.031023 -1.029212 -1.027416 -1.025635 -1.023854 -1.001937

              X(t-6)    X(t-7)    X(t-8)    X(t-9)   X(t-10)   X(t-11)  \
FECHA
1992-01-31 -1.020734 -1.024478 -1.028192 -1.031906 -1.035589 -1.039257
1992-02-29 -1.016990 -1.020734 -1.024478 -1.028192 -1.031906 -1.035589
1992-03-31 -1.013245 -1.016990 -1.020734 -1.024478 -1.028192 -1.031906
1992-04-30 -1.009486 -1.013245 -1.016990 -1.020734 -1.024478 -1.028192
1992-05-31 -1.005711 -1.009486 -1.013245 -1.016990 -1.020734 -1.024478

             X(t-12)
FECHA
1992-01-31 -1.042926
1992-02-29 -1.039257
1992-03-31 -1.035589
1992-04-30 -1.031906
1992-05-31 -1.028192
                   X    X(t-1)    X(t-2)    X(t-3)    X(t-4)    X(t-5)  \
FECHA
1992-01-31 -1.156950 -1.166751 -1.167029 -1.167307 -1.167585 -1.167863
1992-02-29 -1.157092 -1.156950 -1.166751 -1.167029 -1.167307 -1.167585
1992-03-31 -1.157243 -1.157092 -1.156950 -1.166751 -1.167029 -1.167307
1992-04-30 -1.157393 -1.157243 -1.157092 -1.156950 -1.166751 -1.167029
1992-05-31 -1.157543 -1.157393 -1.157243 -1.157092 -1.156950 -1.166751

              X(t-6)    X(t-7)    X(t-8)    X(t-9)   X(t-10)   X(t-11)  \
FECHA
1992-01-31 -1.168141 -1.168411 -1.168689 -1.168960 -1.169238 -1.169508
1992-02-29 -1.167863 -1.168141 -1.168411 -1.168689 -1.168960 -1.169238
1992-03-31 -1.167585 -1.167863 -1.168141 -1.168411 -1.168689 -1.168960
1992-04-30 -1.167307 -1.167585 -1.167863 -1.168141 -1.168411 -1.168689
1992-05-31 -1.167029 -1.167307 -1.167585 -1.167863 -1.168141 -1.168411

             X(t-12)
FECHA
1992-01-31 -1.169778
1992-02-29 -1.169508
1992-03-31 -1.169238
1992-04-30 -1.168960
1992-05-31 -1.168689
                   X    X(t-1)    X(t-2)    X(t-3)    X(t-4)    X(t-5)  \
FECHA
1992-01-31 -0.063183 -0.147073 -0.180321 -0.212603 -0.244661 -0.276558
1992-02-29 -0.044373 -0.063183 -0.147073 -0.180321 -0.212603 -0.244661
1992-03-31 -0.025434 -0.044373 -0.063183 -0.147073 -0.180321 -0.212603
1992-04-30 -0.006367 -0.025434 -0.044373 -0.063183 -0.147073 -0.180321
1992-05-31  0.012797 -0.006367 -0.025434 -0.044373 -0.063183 -0.147073

              X(t-6)    X(t-7)    X(t-8)    X(t-9)   X(t-10)   X(t-11)  \
FECHA
1992-01-31 -0.308358 -0.339934 -0.371220 -0.402313 -0.433181 -0.463791
1992-02-29 -0.276558 -0.308358 -0.339934 -0.371220 -0.402313 -0.433181
1992-03-31 -0.244661 -0.276558 -0.308358 -0.339934 -0.371220 -0.402313
1992-04-30 -0.212603 -0.244661 -0.276558 -0.308358 -0.339934 -0.371220
1992-05-31 -0.180321 -0.212603 -0.244661 -0.276558 -0.308358 -0.339934

             X(t-12)
FECHA
1992-01-31 -0.494209
1992-02-29 -0.463791
1992-03-31 -0.433181
1992-04-30 -0.402313
1992-05-31 -0.371220
                   X    X(t-1)    X(t-2)    X(t-3)    X(t-4)    X(t-5)  \
FECHA
1992-01-31 -1.442914 -1.447413 -1.456795 -1.465912 -1.474961 -1.483972
1992-02-29 -1.437698 -1.442914 -1.447413 -1.456795 -1.465912 -1.474961
1992-03-31 -1.432444 -1.437698 -1.442914 -1.447413 -1.456795 -1.465912
1992-04-30 -1.427157 -1.432444 -1.437698 -1.442914 -1.447413 -1.456795
1992-05-31 -1.421834 -1.427157 -1.432444 -1.437698 -1.442914 -1.447413

              X(t-6)    X(t-7)    X(t-8)    X(t-9)   X(t-10)   X(t-11)  \
FECHA
1992-01-31 -1.492948 -1.501855 -1.510695 -1.519471 -1.528180 -1.536826
1992-02-29 -1.483972 -1.492948 -1.501855 -1.510695 -1.519471 -1.528180
1992-03-31 -1.474961 -1.483972 -1.492948 -1.501855 -1.510695 -1.519471
1992-04-30 -1.465912 -1.474961 -1.483972 -1.492948 -1.501855 -1.510695
1992-05-31 -1.456795 -1.465912 -1.474961 -1.483972 -1.492948 -1.501855

             X(t-12)
FECHA
1992-01-31 -1.545412
1992-02-29 -1.536826
1992-03-31 -1.528180
1992-04-30 -1.519471
1992-05-31 -1.510695
                   X    X(t-1)    X(t-2)    X(t-3)    X(t-4)    X(t-5)  \
FECHA
1992-01-31 -1.260467 -1.264278 -1.268900 -1.273397 -1.277872 -1.282332
1992-02-29 -1.256636 -1.260467 -1.264278 -1.268900 -1.273397 -1.277872
1992-03-31 -1.252781 -1.256636 -1.260467 -1.264278 -1.268900 -1.273397
1992-04-30 -1.248904 -1.252781 -1.256636 -1.260467 -1.264278 -1.268900
1992-05-31 -1.245005 -1.248904 -1.252781 -1.256636 -1.260467 -1.264278

              X(t-6)    X(t-7)    X(t-8)    X(t-9)   X(t-10)   X(t-11)  \
FECHA
1992-01-31 -1.286780 -1.291207 -1.295612 -1.299996 -1.304359 -1.308701
1992-02-29 -1.282332 -1.286780 -1.291207 -1.295612 -1.299996 -1.304359
1992-03-31 -1.277872 -1.282332 -1.286780 -1.291207 -1.295612 -1.299996
1992-04-30 -1.273397 -1.277872 -1.282332 -1.286780 -1.291207 -1.295612
1992-05-31 -1.268900 -1.273397 -1.277872 -1.282332 -1.286780 -1.291207

             X(t-12)
FECHA
1992-01-31 -1.313023
1992-02-29 -1.308701
1992-03-31 -1.304359
1992-04-30 -1.299996
1992-05-31 -1.295612

## Saved Preprocessing data

In [5]:
os.makedirs('../Data/Processed', exist_ok=True)
for key in data_scaled.keys():
    df = data_scaled[key]
    df.dropna(inplace=True)
    df.to_parquet(f'../Data/Processed/processed_{key.replace(" ", "_").lower()}.parquet')
    print(f'Processed data for {key} saved to ../Data/Processed/processed_{key.replace(" ", "_").lower()}.parquet')

Processed data for Auto Public saved to ../Data/Processed/processed_auto_public.parquet
Processed data for Auto Private saved to ../Data/Processed/processed_auto_private.parquet
Processed data for Passenger Truck Public saved to ../Data/Processed/processed_passenger_truck_public.parquet
Processed data for Passenger Truck Private saved to ../Data/Processed/processed_passenger_truck_private.parquet
Processed data for Cargo Public saved to ../Data/Processed/processed_cargo_public.parquet
Processed data for Cargo Private saved to ../Data/Processed/processed_cargo_private.parquet
Processed data for Total saved to ../Data/Processed/processed_total.parquet